.add-property-form {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  background-color: white;
  width: 50%;
  margin: 50px;
  display: inline-  
}
  
.add-property label {
  display: flex;
  padding-bottom: 35px;
}
  
.add-property span {
  display: inline-block;
  width: 100px;
  padding: 10px; 
  padding-left: 0px;
}
  
.add-property input, select {
  margin-left: 20px;
  padding: 3px;
}

.add-property input {
  display: inline-block;
  width: 266px;
  outline: none;
  border: solid black 1px;
}

select {
  outline: none;
  border-radius: 25px;
  width: 275px;
}

select:active, select:hover {
  outline: none;
  cursor: pointer;
}

.add-property button {
  width: 60px;
  border: none;
  padding: 8px;
  background-color: purple;
  color: white;
}

.add-property button:hover {
  cursor: pointer;
  background-color: lightgray;
  color: black;
}