.add-property {
  text-align: center
}

form {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  background-color: white;
  width: 800px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
  
label {
  display: flex;
  padding-bottom: 35px;
}
  
span {
  display: flex;
  width: 100px;
  padding: 10px; 
  padding-left: 0px;
}
  
input, select {
  margin-left: 20px;
  padding: 3px;
}

input {
  width: 266px;
  outline: none;
  border: solid black 1px;
}

select {
  outline: none;
  border-radius: 25px;
  width: 275px;
}

select:active, select:hover {
  outline: none;
  cursor: pointer;
}

button {
  width: 60px;
  border: none;
  padding: 8px;
  background-color: purple;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: lightgray;
  color: black;
}