.wrapper {
  display: flex;
  max-height: 350px;
}

.filters {
  width: 15%;
}

.filters span {
  display: flex;
  padding: 10px;
  margin:5px;
  background-color: purple;
  color: white;
  width: auto;
}


.title-search form {
  display: flex;
  padding: 5x;
  margin: 5px;
  height: 29px;
}

.title-search input {
  width: 100%;
}

.filters a {
  display: flex;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding:10px;
  margin:5px;
}

.filters a:hover {
  background-color: purple;
  color: white;
}

.properties {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.property-card {
  margin: 5px;
  width: 30%;
}